<html>
<head>
	<title>Edit Winemaker Details</title>
    <div class="heading">
        <h1>CellarTracker</h1>
    </div>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    {% include "edit_search_bar.html" %}
    </head>

<body>
    <div>

        <div id="edit">
            <!-- form to edit data in winemaker details-->
            <form id="editDetails" action="/edit_winemaker_details/{{data[0].winemakerDetailsID}}" method="post">
                <legend><strong>Edit Winemaker Details</strong></legend>
                <fieldset>
                    <input type="hidden" value="{{data[0].winemakerDetailsID}}" class="form-control" id="winemakerDetailsID" name="winemakerDetailsID" required>

                    <label>winemaker ID:</label>
                        <select class="form-control" id="winemakerID" name="winemakerID" pattern="[0-9]+" placeholder="" required>

                            <option value="0">&nbsp;</option>
                            {% for winemakerID in winemakerIDs %}

                                <option value="{{winemakerID.winemakerID}}">{{winemakerID.winemakerID, winemakerID.firstName, winemakerID.lastName}}</option>
                            
                            {% endfor %}

                        </select>

                    <label>wine ID:</label>
                        <select class="form-control" id="wineID" name="wineID" pattern="[0-9]+" placeholder="" required>

                                <option value="0">&nbsp;</option>
                                {% for wineID in wineIDs %}

                                <option value="{{wineID.wineID}}">{{wineID.wineID, wineID.vintage, wineID.variety, wineID.vineyard}}</option>
                                
                                {% endfor %}

                            </select>

                </fieldset>
                <input type="submit" value="Submit Changes" name="Edit_Winemaker_Details" class="btn btn-primary" style="margin:.5rem;">
                <a href='/winemaker_details'><input class="btn" type="button" value="Cancel"></a>
            </form>

</html>