<html>
<head>
	<title>Edit Winemakers</title>
    <div class="heading">
        <h1>CellarTracker</h1>
    </div>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    {% include "edit_search_bar.html" %}
    </head>

<body>
    <div>

        <div id="edit">
            <!-- form to edit data in winemakers-->
            <form id="editWinemaker" action="/edit_winemakers/{{data[0].winemakerID}}" method="post">
                <legend><strong>Edit Winemaker</strong></legend>
                <fieldset>
                    <input type="hidden" value="{{data[0].winemakerID}}" class="form-control" id="winemakerID" name="winemakerID" required>

                    <label>First Name:</label>
                    <input type="text" value="{{data[0].firstName}}" class="form-control" id="firstName" name="firstName" pattern="[A-Za-z]{1,}" required>

                    <label>Last Name:</label>
                    <input type="text" value="{{data[0].lastName}}" class="form-control" id="lastName" name="lastName" pattern="[A-Za-z]{1,}" required>
                    
                    <label>Location:</label>
                    <input type="text" value="{{data[0].location}}" class="form-control" id="location" name="location" pattern="/^[a-zA-Z\s]+\,[a-zA-Z\s]+$/" required>

                </fieldset>
                <input type="submit" value="Submit Changes" name="Edit_Winemaker" class="btn btn-primary" style="margin:.5rem;">
                <a href='/winemakers'><input class="btn" type="button" value="Cancel"></a>
            </form>
<footer>
  <p>&copy; 2022 Victoria Patterson & Alexandra Sciocchetti</p>
</footer>
</html>