<!doctype html>
<!-- Adapted from the invoices.html UI design -->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CellarTracker</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <ul>
        <li><a href="/">CellarTracker</a></li>
        <li><a href="/wines">Wines</a></li>
        <li><a href="/winemakers">Winemakers</a></li>
        <li><a href="/winemaker_details">Winemaker Details</a></li>
        <li><a href="/workOrders">Work Orders</a></li>
        <li><a href="/invoices">Invoices</a></li>
    </ul>
</body>

