<!doctype html>
<!-- Adapted from the invoices.html UI design -->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <h1>CellarTracker</h1>
  <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
  {% include "search_bar.html" %}
</head>



<body>
    <!-- <ul>
        <li><a href="index">CellarTracker</a></li>
        <li><a href="wines">Wines</a></li>
        <li><a href="winemakers">Winemakers</a></li>
        <li><a href="winemaker_details">Winemaker Details</a></li>
        <li><a href="workOrders">Work Orders</a></li>
        <li><a href="invoices">Invoices</a></li>
    </ul> -->

    <!--h1><a href="/">CellarTracker</a></h1> [ <a href="wines">Wines</a> | <a href="winemakers">Winemakers</a> | <a href="winemaker_details">Winemaker Details</a> | <a href="workOrders">Work Orders</a> | <a href="invoices">Invoices</a> ] -->
</body>