<html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Winemaker Details</title>
  <div class="heading">
        <h1>CellarTracker</h1>
  </div>
  
  <!-- Style Sheet -->
  <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">

  <!-- Font awesome icons -->
  <script src="https://kit.fontawesome.com/f430b5db3b.js" crossorigin="anonymous"></script>
  
  {% include "search_bar.html" %}
    <script language="JavaScript">
    function showform(dowhat) {
      if (dowhat == 'insert'){
      document.getElementById('browse').style.display = 'none';
      document.getElementById('insert').style.display = 'block';
      document.getElementById('update').style.display = 'none';
      document.getElementById('delete').style.display = 'none';
    }
    else if (dowhat == 'update'){
    	document.getElementById('browse').style.display = 'none';
    	document.getElementById('insert').style.display = 'none';
    	document.getElementById('update').style.display = 'block';
    	document.getElementById('delete').style.display = 'none';
    }
    else if (dowhat == 'delete'){
      document.getElementById('browse').style.display = 'none';
      document.getElementById('insert').style.display = 'none';
      document.getElementById('update').style.display = 'none';
      document.getElementById('delete').style.display = 'block';
    }
    else if (dowhat == 'all'){
      document.getElementById('browse').style.display = 'block';
      document.getElementById('insert').style.display = 'block';
      document.getElementById('update').style.display = 'block';
      document.getElementById('delete').style.display = 'block';
    }
    else { //by default display browse
      document.getElementById('browse').style.display = 'block';
      document.getElementById('insert').style.display = 'none';
      document.getElementById('update').style.display = 'none';
      document.getElementById('delete').style.display = 'none';
    }
  }
  function newDetails() { showform('insert'); }
  function updateDetails(pid) { showform('update'); }
  function deleteDetails(pid) { showform ('delete'); }
  function browseDetails() { showform ('browse'); }
  function showAll() { showform ('all');
  }
</script>
</head>

<body onload="browseDetails()">
		<div id="browse">
		<p><a class="addNew" href="#" onClick="newDetails()">Add New Winemaker Details</a> </p>
		<table border="1" cellpadding="5">
			    <thead>
				    <tr>
              <th class="table_cell">Winemaker Details ID</th>
              <th class="table_cell">First Name</th>
              <th class="table_cell">Last Name</th>
              <th class="table_cell">Variety</th>
              <th class="table_cell">Vineyard</th>
              <th class="table_cell">Winemaker ID</th>
              <th class="table_cell">Wine ID</th>
              <th class="table_cell">Edit</th>
              <th class="table_cell">Delete</th>

            </tr>
            <!--Citation for the following lines of code (67 - 76) which creates a table of existing data:-->
            <!--Date: 5/18/2022-->
            <!--Adapted from osu-cs340-flask-starter app, Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app -->
            
				<tbody>
					{% for item in data %}
					    <tr>
                            {% for key in item.keys() %}

						    <td> {{item[key]}} </td> 
                            {% endfor %}

                            <!-- Create edit button -->
                 <td><a href="edit_winemaker_details/{{item.winemakerDetailsID}}" class="btn btn-default"><i class="fas fa-pen"></i></a></td>
                 
                          <!-- Create our delete button -->
				        <td><a href="delete_winemaker_details/{{item.winemakerDetailsID}}" class="btn btn-default"><i class="fas fa-trash"></i></a></td>

					    </tr> 
                        {% endfor %} 
        </table>   
      <p id="wmd-desc">* This table showcases which winemakers are working on which wines.</p>
	<p>&nbsp;</p>
	</div>	<!-- browse -->

	<div id="insert">
		<!-- form to INSERT new data into winemaker_details-->
		<form id="insertDetails" action="/winemaker_details" method="post">
			<legend><strong>Add Winemaker Details</strong></legend>
			<fieldset>
				<label>Winemaker ID:</label>
                    <select class="form-control" id="winemakerID" name="winemakerID" pattern="[0-9]+" placeholder="" required>
                        <option value="0">&nbsp;</option>
                        {% for winemakerID in winemakerIDs %}
                        
                        <option value="{{winemakerID.winemakerID}}">{{winemakerID.winemakerID, winemakerID.firstName, winemakerID.lastName}}</option>
                    
                        {% endfor %}

                    </select>

				<label>Wine ID:</label>
                    <select class="form-control" id="wineID" name="wineID" pattern="[0-9]+" placeholder="" required>
                        <option value="0">&nbsp;</option>
                        {% for wineID in wineIDs %}
                        
                        <option value="{{wineID.wineID}}">{{wineID.wineID, wineID.vintage, wineID.variety, wineID.vineyard}}</option>
                    
                        {% endfor %}

                    </select>

				   </fieldset>

            <!-- Create 'Add Winemaker Details' and 'Cancel' buttons -->
			<input type="submit" value="Add Winemaker Details" name="Add_Details" class="btn btn-primary" style="margin:.5rem;">
			<input class="btn" type="button" value="Cancel" onClick="browseDetails()"> 
        </form>
	</div><!--insert-->
	<footer>
  <p>&copy; 2022 Victoria Patterson & Alexandra Sciocchetti</p>
</footer>
</body>
</html>