<html>
<!-- Adapted from the wines.html UI design -->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Wines</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <script language="JavaScript">
      function showform(dowhat) {
        if (dowhat == 'insert'){
          document.getElementById('browse').style.display = 'none';
          document.getElementById('insert').style.display = 'block';
          document.getElementById('update').style.display = 'none';
          document.getElementById('delete').style.display = 'none';
			}
			// else if (dowhat == 'update'){
			// 	document.getElementById('browse').style.display = 'none';
			// 	document.getElementById('insert').style.display = 'none';
			// 	document.getElementById('update').style.display = 'block';
			// 	document.getElementById('delete').style.display = 'none';
			// }
			else if (dowhat == 'delete'){
          document.getElementById('browse').style.display = 'none';
          document.getElementById('insert').style.display = 'none';
          document.getElementById('update').style.display = 'none';
          document.getElementById('delete').style.display = 'block';
        }
      else if (dowhat == 'all'){
          document.getElementById('browse').style.display = 'block';
          document.getElementById('insert').style.display = 'block';
          document.getElementById('update').style.display = 'block';
          document.getElementById('delete').style.display = 'block';
			}
			else { //by default display browse
          document.getElementById('browse').style.display = 'block';
          document.getElementById('insert').style.display = 'none';
          document.getElementById('update').style.display = 'none';
          document.getElementById('delete').style.display = 'none';
			}
		}
    function newWine() { showform('insert'); }
    // function updateWine() { showform('update'); }
    function deleteWine(pid) { showform ('delete'); }
    function browseWines() { showform ('browse'); }
    function showAll() { showform ('all');
    }
  </script>
</head>

<body onload="browseWines()">
	<h1>CellarTracker</h1> [ <a href="wines">Wines</a> | <a href="winemakers">Winemakers</a> | <a href="winemaker_details">Winemaker Details</a> | <a href="workOrders">Work Orders</a> | <a href="invoices">Invoices</a> ]
	<div id="browse">
		<p><a href="#" onClick="newWine()">Add New Wine</a> </p>
		<table border="1" cellpadding="5">
            <!-- Access data tuple passed from app.py --> 
            {% if data %}
			    <thead>
				    <tr>
            <!--Citation for the following lines of code (63 - 76) which creates a table of existing data:-->
            <!--Date: 5/18/2022-->
            <!--Adapted from osu-cs340-flask-starter app, Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app -->
                        {% for key in data[0].keys() %}
					    
					    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        {% endfor %} 
                    </tr>

				<tbody>
					{% for item in data %}
					    <tr>
                            {% for key in item.keys() %}
                            
						    <td> {{item[key]}} </td> 
                            {% endfor %}

                            <!-- Create delete button -->
						    <td><a href="delete_wines/{{item.wineID}}" class="btn btn-default">Delete</a></td>

					    </tr> 
                        {% endfor %} 
                {% endif %} 
        </table>   
	<p>&nbsp;</p>
	</div>	<!-- browse -->

	<div id="insert">
		<!-- form to INSERT new data into wines-->
		<form id="insertWine" action="/wines" method="post">
			<legend><strong>Add Wine</strong></legend>
			<fieldset>
                <!-- placeholder shows ghost text, required forces an input, pattern forces input adherence -->
				<label>Vintage:</label>
				<input type="number" class="form-control" id="vintage" name="vintage" pattern="[0-9]+" placeholder="" required>

				<label>Vineyard:</label>
				<input type="text" class="form-control" id="vineyard" name="vineyard" pattern="/^[a-zA-Z\s]+\,[a-zA-Z\s]+$/" placeholder="" required>

				<label>Variety:</label>
				<input type="text" class="form-control" id="variety" name="variety" pattern="/^[a-zA-Z\s]+\,[a-zA-Z\s]+$/" placeholder="" required> 
            </fieldset>

            <!-- Create 'Add Wine' and 'Cancel' buttons -->
			<input type="submit" value="Add Wine" name="Add_Wine" class="btn btn-primary" style="margin:.5rem;">
			<input class="btn" type="button" value="Cancel" onClick="browseWines()"> 
        </form>
	</div><!--insert-->
	
</body>
</html>