<html>
<!-- Adapted from the wines.html UI design -->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Wines</title>
  <div class="heading">
    <h1>CellarTracker</h1>
  </div>

  <!-- Style Sheet -->
  <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">

  <!-- Font awesome icons -->
  <script src="https://kit.fontawesome.com/f430b5db3b.js" crossorigin="anonymous"></script>
  
  {% include "search_bar.html" %}
  <script language="JavaScript">
      function showform(dowhat) {
        if (dowhat == 'insert'){
          document.getElementById('browse').style.display = 'none';
          document.getElementById('insert').style.display = 'block';
          document.getElementById('update').style.display = 'none';
          document.getElementById('delete').style.display = 'none';
			}
			// else if (dowhat == 'update'){
			// 	document.getElementById('browse').style.display = 'none';
			// 	document.getElementById('insert').style.display = 'none';
			// 	document.getElementById('update').style.display = 'block';
			// 	document.getElementById('delete').style.display = 'none';
			// }
			else if (dowhat == 'delete'){
          document.getElementById('browse').style.display = 'none';
          document.getElementById('insert').style.display = 'none';
          document.getElementById('update').style.display = 'none';
          document.getElementById('delete').style.display = 'block';
        }
      else if (dowhat == 'all'){
          document.getElementById('browse').style.display = 'block';
          document.getElementById('insert').style.display = 'block';
          document.getElementById('update').style.display = 'block';
          document.getElementById('delete').style.display = 'block';
			}
			else { //by default display browse
          document.getElementById('browse').style.display = 'block';
          document.getElementById('insert').style.display = 'none';
          document.getElementById('update').style.display = 'none';
          document.getElementById('delete').style.display = 'none';
			}
		}
    function newWine() { showform('insert'); }
    // function updateWine() { showform('update'); }
    function deleteWine(pid) { showform ('delete'); }
    function browseWines() { showform ('browse'); }
    function showAll() { showform ('all');
    }
  </script>
</head>

<body onload="browseWines()">
	<div id="browse"> 
<p><a class="addNew" href="#" onClick="newWine()">Add New Wine</a> <p></p>
		<table border="1" cellpadding="5">
			    <thead>
          <tr>
              <th class="table_cell">Wine ID</th>
              <th class="table_cell">Vintage</th>
              <th class="table_cell">Vineyard</th>
              <th class="table_cell">Variety</th>
              <th class="table_cell">Delete</th>
          </tr>
            <!--Citation for the following lines of code (68 - 76) which creates a table of existing data:-->
            <!--Date: 5/18/2022-->
            <!--Adapted from osu-cs340-flask-starter app, Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app -->
				<tbody>
					{% for item in data %}
					    <tr>
                            {% for key in item.keys() %}
                            
						    <td> {{item[key]}} </td> 
                            {% endfor %}
                 
                          <!-- Create our delete button -->
				        <td><a href="delete_wines/{{item.wineID}}" class="btn btn-default"><i class="fas fa-trash"></i></a></td>

					    </tr> 
                        {% endfor %} 
        </table>   
      <p>Search by Vineyard or Variety:</p> 
      <form id="search">
      <input type="search" name="q" placeholder="Search..." class="form-control" required>
      <button>Search</button>
      </form></p>
	<p>&nbsp;</p>
	</div>	<!-- browse -->

	<div id="insert">
		<!-- form to INSERT new data into wines-->
		<form id="insertWine" action="/wines" method="post">
			<legend><strong>Add Wine</strong></legend>
			<fieldset>
                <!-- placeholder shows ghost text, required forces an input, pattern forces input adherence -->
				<label>Vintage:</label>
				<input type="number" class="form-control" id="vintage" name="vintage" pattern="[0-9]+" placeholder="" required>

				<label>Vineyard:</label>
				<input type="text" class="form-control" id="vineyard" name="vineyard" pattern="/^[a-zA-Z\s]+\,[a-zA-Z\s]+$/" placeholder="" required>

				<label>Variety:</label>
				<input type="text" class="form-control" id="variety" name="variety" pattern="/^[a-zA-Z\s]+\,[a-zA-Z\s]+$/" placeholder="" required> 
            </fieldset>

            <!-- Create 'Add Wine' and 'Cancel' buttons -->
			<input type="submit" value="Add Wine" name="Add_Wine" class="btn btn-primary" style="margin:.5rem;">
			<input class="btn" type="button" value="Cancel" onClick="browseWines()"> 
        </form>
	</div><!--insert-->
	<footer>
  <p>&copy; 2022 Victoria Patterson & Alexandra Sciocchetti</p>
</footer>
</body>
</html>