<html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Work Orders</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <script language="JavaScript">
    function showform(dowhat) {
      if (dowhat == 'insert'){
      document.getElementById('browse').style.display = 'none';
      document.getElementById('insert').style.display = 'block';
      document.getElementById('update').style.display = 'none';
      document.getElementById('delete').style.display = 'none';
    }
    else if (dowhat == 'update'){
    	document.getElementById('browse').style.display = 'none';
    	document.getElementById('insert').style.display = 'none';
    	document.getElementById('update').style.display = 'block';
    	document.getElementById('delete').style.display = 'none';
    }
    else if (dowhat == 'delete'){
      document.getElementById('browse').style.display = 'none';
      document.getElementById('insert').style.display = 'none';
      document.getElementById('update').style.display = 'none';
      document.getElementById('delete').style.display = 'block';
    }
    else if (dowhat == 'all'){
      document.getElementById('browse').style.display = 'block';
      document.getElementById('insert').style.display = 'block';
      document.getElementById('update').style.display = 'block';
      document.getElementById('delete').style.display = 'block';
    }
    else { //by default display browse
      document.getElementById('browse').style.display = 'block';
      document.getElementById('insert').style.display = 'none';
      document.getElementById('update').style.display = 'none';
      document.getElementById('delete').style.display = 'none';
    }
  }
  function newWorkOrder() { showform('insert'); }
  function updateWorkOrder(pid) { showform('update'); }
  function deleteWorkOrder(pid) { showform ('delete'); }
  function browseWorkOrders() { showform ('browse'); }
  function showAll() { showform ('all');
  }
</script>
</head>

<body onload="browseWorkOrders()">
<h1>CellarTracker</h1>
	[ <a href="wines">Wines</a> | <a href="winemakers">Winemakers</a> | Winemaker Details | <a href="workOrders">Work Orders</a> | <a href="invoices">Invoices</a> ]
	<div id="browse">
		<p><a href="#" onClick="newWorkOrder()">Add New Work Order</a> </p>
		<table border="1" cellpadding="5">
            <!-- Access data tuple passed from app.py --> 
            {% if data %}
			    <thead>
				    <tr>
                        {% for key in data[0].keys() %}

					    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>

                        {% endfor %} 
                    </tr>

				<tbody>
					<!-- Now, iterate through every item in data -->{% for item in data %}
					    <tr>
						    <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in item.keys() %}

						    <td> {{item[key]}} </td> 
                            {% endfor %}

                            <!-- Create edit button -->
                 <td><a href="edit_workOrder/{{item.workOrderID}}" class="btn btn-default">Edit</a></td>
                          <!-- Create our delete button -->
				        <td><a href="delete_workOrder/{{item.workOrderID}}" class="btn btn-default">Delete</a></td>
                 <td><input type="checkbox"></td>

					    </tr> 
                        {% endfor %} 
                {% endif %} 
        </table>   
	<p>&nbsp;</p>
	</div>	<!-- browse -->

	<div id="insert">
		<!-- form to INSERT new data into workOrders-->
		<form id="insertWorkOrder" action="/workOrders" method="post">
			<legend><strong>Add Work Order</strong></legend>
			<fieldset>
				<label>Task:</label>
				<input type="text" class="form-control" id="task" name="task" pattern="/^[a-zA-Z\s]+\,[a-zA-Z\s]+$/" placeholder="" required>

				<label>Winemaker ID:</label>
          <select class="form-control" id="winemakerID" name="winemakerID" pattern="[0-9]+" placeholder="" required>
          <option value="0">&nbsp;</option>
          {% for winemakerID in winemakerIDs %}
          <option value="{{winemakerID['winemakerID']}}">{{winemakerID['winemakerID']}}</option>
          
          {% endfor %}

        </select>

				<label>Date Ordered:</label>
				<input type="date" class="form-control" id="dateOrdered" name="dateOrdered" pattern="\d{1,2}/\d{1,2}/\d{4}" placeholder="" required> 
            </fieldset>

            <!-- Create 'Add Work Order' and 'Cancel' buttons -->
			<input type="submit" value="Add Work Order" name="Add_WorkOrder" class="btn btn-primary" style="margin:.5rem;">
			<input class="btn" type="button" value="Cancel" onClick="browseWorkOrders()"> 
        </form>
	</div><!--insert-->

</body>
</html>